

.menu{
    position: absolute;
    background-color: lightgray;
    width: 400px;
    height: 316px;
    border-radius: 20px;
    border: 2px solid black;
    left: 50%; 
    top: 50%;
    margin-left: -200px;
    margin-top: -158px;
}

p {
    padding: 20px;
}

h3 {
    padding-top: 10px;
}