<div>
        <div class=" header row"> 
                <h1 class="col-lg-8 col-sm-12 title">Person Name</h1> 
                <div class="col-lg-4 col-sm-12 row">
                        <div class="col-lg-4 "></div>
                        <h3 class="col-lg-4 col-sm-6 button" (click)="toggleContact()">Contact</h3>
                        <h3 class="col-lg-4 col-sm-6 button" (click)="toggleServices()">Services</h3>     
                </div>
                
        </div>
        <div class="row">
                
                <div class="col-md-3 col-12">

                </div>
                <div class="col-md-3 col-12">

                </div>
        </div>
</div>
<div class="blockScreen" *ngIf="isOnServices || isOnContact"  (click)="toggleAll()"></div>



<app-services-tab *ngIf="isOnServices"></app-services-tab>


<app-contact *ngIf="isOnContact"></app-contact>  
