body {
    text-align: center;
    background-image: url(assets/images/kalen-emsley-Bkci_8qcdvQ-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
